<div class="wrapper">
  <div class="app-sidebar" data-background-color="black" data-color="blue" data-image="../assets/img/fabio-mangione.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/fabio-mangione.jpg)"></div>
  </div><div class="main-panel">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</div>
