// Chat variable
$sideber-border: #FAFAFA;


.chat-application{
  border-radius:$border-radius-extreme;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
  overflow: hidden;

  .content-wrapper{
    padding: 0 !important;
  }

  .chat-sidebar{
    background: $sideber-border;
    position: relative;
    width: 300px;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #E4E7ED;
    border-top-left-radius: $border-radius-extreme;
    z-index: 999;

    a{
      cursor: pointer;
    }

    form{
      .has-icon-left .form-control-position {
        right: auto;
        left: inherit;
      }

      .form-control-position {
        position: absolute;
        top: 2px;
        right: 0;
        z-index: 2;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
      }
    }

    .avatar-md{
      img {
        width: 40px;
      }
    }


  }

  .chat-fixed-search{
    width: 300px;
    position: fixed;
    z-index: 999;
    background: #f8f8f9;

    .form-control{
      padding-left: 30px;
    }

  }

  .users-list-padding{
    padding-top:70px;
  }

  .list-group-item-heading{
    font-size: 0.8rem;
    font-weight: 500;
    span{
      font-size: 0.8rem;
      font-weight: 400;
      color: $info-color;
    }
  }
  .chat-app-window{
    padding: 20px 30px;
    overflow-y: scroll;
    text-align: center;
    height: calc(100% - 112px);
    background-color: $smoke-bg;
  }
  .chat-app-form{
    position: relative;
    padding: 20px 10px;
    overflow: hidden;
  }
  .chats {
    padding: 0;
    .chat-body {
      display: block;
      margin: 10px 30px 0 0;
      overflow: hidden;
      .chat-content {
        &:before{
          position: absolute;
          top: 10px;
          right: -10px;
          width: 0;
          height: 0;
          content: '';
          border: 5px solid transparent;
          border-left-color: $table-line-color;
        }
        +.chat-content:before {
          border-color: transparent;
        }
        text-align: right;
        position: relative;
        display: block;
        float: right;
        padding: 8px 15px;
        margin: 0 20px 10px 0;
        clear: both;
        color: #fff;
        background-color: $primary-color;
        border-radius: 4px;
        p{
          margin: 0;
        }
      }
    }
    .chat-avatar{
      float: right;
      .avatar {
        width: 50px;
        margin-top: -10px;
        img{
          width: 50px;
          border-radius:100px;
          border:none;
        }
      }
    }
    .time {
      color: $gray-500;
      font-size: 12px;
      text-align: center;
      margin: 40px 0
    }
    .chat-left {
      .chat-avatar{
        float: left;
      }
      .chat-body {
        margin-right: 0;
        margin-left: 30px;
      }
      .chat-content{
        +.chat-content:before {
          border-color: transparent;
        }
        &:before{
          right: auto;
          left: -10px;
          border-right-color: lighten($body-bg, 18%);
          border-left-color: transparent;
        }
        text-align: left;
        float: left;
        margin: 0 0 10px 20px;
        color: #2e2e2e;
        background-color: $body-bg;
      }
    }
  }
  .form-control-position{
    cursor: pointer;
    position: absolute;
    top: 2px;
    z-index: 2;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    right: auto;
    left: inherit;
    &.control-position-right{
      right: 18px;
      top: 2px;
      cursor: pointer;
    }
  }
  @include media-breakpoint-down(sm) {
    .chat-app-window{
      height: calc(100% - 132px);
    }
  }

  .has-icon-left .form-control{
    padding-right: .85rem;
    padding-left: 2.95rem;
  }

}

#users-list{
  [class^="icon-"],[class*=" icon-"] { color: $warning-color;}
  .list-group-item{
    padding: 1.25rem 1.25rem !important;
    background: $white-states-color;
    color: $black-marlin;
    margin-bottom: 0px !important;
    border: none !important;
    .text-muted{
      color: $light-gray !important;
    }

    &.active{
      background-color: $black-hr;
      box-shadow: 0 10px 30px -12px $black-hr;
      border-radius: $border-radius-extreme;
      color: $medium-gray;
    }
  }
}


// moving tabs
.chat-moving-tab{
  position: absolute;
  padding: 10px 15px;
  top: 0px;
  left: 0px;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px 15px;
  width: 230px;
  display: none;
  @include transition-property(transform, 0.6s, cubic-bezier(0.29, 1.35, 0.79, 1));

  &.moving{
    display: block;
    overflow: hidden;
  }

  //.chat-sidebar-mini{
  //  text-transform: uppercase;
  //  width: 30px;
  //  text-align: center;
  //  letter-spacing: 1px;
  //  position: absolute;
  //  display: inherit;
  //}
  //
  //.chat-sidebar-normal{
  //  margin: 0;
  //  margin-left: 45px;
  //  opacity: 1;
  //  white-space: nowrap;
  //
  //}
}
