// Shadows
$shadow-umbra-opacity: 0.2 !default;
$shadow-penumbra-opacity: 0.14 !default;
$shadow-ambient-opacity: 0.12 !default;

//fonts
//variables for social
$social-facebook: 			#3b5998;
$social-linkedin: 			#0976b4;
$social-dribbble: 			#ea4c89;
$social-github: 			#333333;
$social-instagram: 		    #125688;
$social-reddit: 			#ff4500;
$social-behance: 			#1769ff;
